@import "utils";
.firstSlide {
  background-image: url("../images/carousel_image1.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%;
  /* 정부가 사업비를 지원합니다 */
  display: none;
}

.secondSlide {
  background-image: url("../images/carousel_image2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.thridSlide {
  background-image: url("../images/carousel_image3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.fourthSlide {
  background-image: url("../images/carousel_image4.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
}
.slide-flex {
  display: flex;
  /* text-align: center; */
  margin-top: 41%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}
.logo {
  position: absolute;
  top: 30px;
  margin-left: 60px;
  /* left: 60px; */
  /* right: 10px; */
}

.title {
  /* position: absolute; */
  margin-top: 0;
  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 900;
  font-size: 94px;

  color: #ffffff;
}
.subtitle {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1rem;
  font-family: Noto Sans KR;
}

.mouseScrollDown {
  margin-top: 1em;
}

.chat {
  position: absolute;
  top: 950px;
  margin-left: 1770px;
  cursor: pointer;
}
