@import "utils";
.firstSlide {
  background-image: url("../images/carousel_image1.png");
  background-repeat: no-repeat;
  /* background-size: cover; */
  background-size: 100% 100%;
  @include media("<huge") {
    width: 1024px;
  }
  @include media("<large") {
    width: 768px;
  }
  @include media("<medium") {
    width: 90%;
  }
}

.secondSlide {
  background-image: url("../images/carousel_image2.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1440px;
  @include media("<huge") {
    width: 1024px;
  }
  @include media("<large") {
    width: 768px;
  }
  @include media("<medium") {
    width: 90%;
  }
}
.thridSlide {
  background-image: url("../images/carousel_image3.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1440px;
  @include media("<huge") {
    width: 1024px;
  }
  @include media("<large") {
    width: 768px;
  }
  @include media("<medium") {
    width: 90%;
  }
}
.fourthSlide {
  background-image: url("../images/carousel_image4.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  width: 1440px;
  @include media("<huge") {
    width: 1024px;
  }
  @include media("<large") {
    width: 768px;
  }
  @include media("<medium") {
    width: 90%;
  }
}

.logo {
  position: absolute;
  top: 3%;
  margin-left: -12%;
  cursor: pointer;
  z-index: 100;
  /* left: 60px; */
  /* right: 10px; */
}

.title {
  /* position: absolute; */

  font-family: Noto Sans KR;
  font-style: normal;
  font-weight: 900;
  font-size: 64px;
  color: #ffffff;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
  @include media("<huge") {
    font-size: 46px;
  }
  @include media("<large") {
    font-size: 36px;
  }

  @include media("<medium") {
    font-size: 18px;
  }
}
.subtitle {
  color: #ffffff;
  font-weight: bold;
  font-size: 20px;
  margin-top: 1rem;
  font-family: Noto Sans KR;
  text-shadow: 0px 4px 3px rgba(0, 0, 0, 0.4);
  //   @include media("<huge") {
  //     font-size: 46px;
  //   }
  @include media("<large") {
    // font-size: 36px;
  }

  @include media("<medium") {
    font-size: 10px;
  }
}

.mouseScrollDown {
  //margin-top: 1em;
  position: absolute;
  bottom: 2%;
  margin-left: auto;
  margin-right: auto;
  z-index: 100;
}

.chat {
  cursor: pointer;
  position: absolute;
  bottom: 2%;
  right: 3%;
  z-index: 100;
}

.CarouselSection-chat-mobileversion-a {
  bottom: 2%;
  right: 3%;
  position: absolute;
  z-index: 100;
  cursor: pointer;
  visibility: hidden;
}

@include media("<huge") {
  //font-size: 46px;
}
@include media("<large") {
}

@include media("<medium") {
  .chat {
    display: none;
  }
  .CarouselSection-chat-mobileversion-a {
    visibility: visible;
    height: 11%;
    position: absolute;
    z-index: 100;
    cursor: pointer;
    bottom: -2%;
    right: 3%;
    .CarouselSection-chat-mobileversion {
      max-width: 100%;
      height: 60%;
    }
  }
}
@include media("<small") {
  .chat {
    display: none;
  }
}
