@import "utils";
.FirstSectionleftSide {
  float: left;
  width: 50%;
  background: #fdffe8;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .image1 {
    display: block;
    max-width: 100%;
    height: auto;
  }

  .FirstSection-greenmouse {
    bottom: 1%;
    right: 48%;
    position: absolute;
  }
}

.FirstSectionrightSide {
  float: left;
  width: 50%;
  background: #ffffff;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.FirstSectionrightSide {
  .titlesqure {
    float: right;
    height: 12vh;
    width: 46vw;
    background: #eeffcb;
    display: flex;
    justify-content: center;
    align-items: center;
    span {
      font-family: Noto Sans KR;
      font-style: normal;
      font-weight: bold;
      font-size: 50px;
      color: #48be00;
      text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
    }
  }
}
.FirstSectionrightSide .h {
  margin-bottom: 5%;
}

.FirstSectionrightSide .explainsqure {
  position: relative;
  width: 41vw;
  //width: 100%;
  height: 57.5vh;
  top: 3.5%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #1bc12c;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;

  .ellipse {
    position: absolute;
    top: 5%;
  }

  p {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    //font-size: 28px;

    font-size: 2em;
    //line-height: 41px;
    line-height: 1.45em;
    // display: flex;
    display: inline-block;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
}
.FirstSectionrightSide .FirstSection-chat {
  bottom: 2%;
  right: 3%;
  position: absolute;
  z-index: 3000;
  cursor: pointer;
}
.FirstSectionrightSide .FirstSection-chat-mobileversion-a {
  bottom: 2%;
  right: 3%;
  position: absolute;
  z-index: 3000;
  cursor: pointer;
  visibility: hidden;
}

//반응형

@include media("<huge") {
  .FirstSectionrightSide {
    .explainsqure {
      p {
        font-size: 1.5em;
      }
    }
  }
}

@include media("<medium") {
  .FirstSectionleftSide {
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 50%;
    .image1 {
      width: 60%;
      display: block;
      height: auto;
    }
    .FirstSection-greenmouse {
      max-width: 100%;
      height: 5%;
    }
  }
  .FirstSectionrightSide {
    width: 100%;
    float: none;
    height: 100%;
    display: block;
    .titlesqure {
      position: relative;
      margin-top: 5%;
      height: 8vh;
      width: 100%;
      span {
        font-size: 2em;
      }
    }
    .explainsqure {
      height: 25%;
      width: 100%;
      br {
        display: none;
      }
      .ellipse {
        display: none;
      }
      p {
        font-size: 1em;
        line-height: 1.2em;
      }
    }
    .FirstSection-chat {
      display: none;
    }
    .FirstSection-chat-mobileversion-a {
      visibility: visible;
      height: 11%;
      position: absolute;
      z-index: 100;
      cursor: pointer;
      bottom: -2%;
      right: 3%;
      .FirstSection-chat-mobileversion {
        max-width: 100%;
        height: 70%;
      }
    }
  }
}
