@import "utils";
.FirstSectionleftSide {
  float: left;
  width: 50%;
  background: #fdffe8;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .image1 {
    max-width: 100%;
    display: block;
    //   height: 100%;
    // width: 90%;
    height: auto;
  }

  .FirstSection-greenmouse {
    bottom: 1%;
    right: 48%;
    position: absolute;
    //z-index: 3000;
  }
}

.FirstSectionrightSide {
  float: left;
  width: 50%;
  background: #ffffff;
  height: 100%;
}
.FirstSectionrightSide .titlesqure {
  float: right;
  margin-top: 196px;
  height: 12vh;
  width: 46vw;
  background: #eeffcb;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #48be00;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }
}
.FirstSectionrightSide .explainsqure {
  position: relative;
  width: 41vw;
  height: 45.1vh;
  top: 3.5%;
  left: 8%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background: #1bc12c;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  p {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
}
.FirstSectionrightSide .FirstSection-chat {
  bottom: 2%;
  right: 3%;
  position: absolute;
  z-index: 3000;
  cursor: pointer;
}
.FirstSectionrightSide .FirstSection-chat-mobileversion-a {
  bottom: 2%;
  right: 3%;
  position: absolute;
  z-index: 3000;
  cursor: pointer;
  visibility: hidden;
}

//반응형

@include media("<huge") {
  //font-size: 46px;

  .FirstSectionleftSide {
    justify-content: center;
    align-items: center;
    .image1 {
      max-width: 100%;
      display: block;
      height: 50%;
    }
    .FirstSection-greenmouse {
      max-width: 100%;
      height: 7%;
    }
  }
  .FirstSectionrightSide {
    .titlesqure {
      width: 46vw;
      height: 8vh;
      span {
        font-size: 40px;
      }
    }
    .explainsqure {
      position: relative;
      width: 37vw;
      height: 38.1vh;
      top: 3.5%;
      left: 8%;
      //font-size: 46px;
      .ellipse {
        max-width: 70%;
        //display: block;
        // height: 0%;
      }
      p {
        font-size: 17px;
        line-height: 41px;
      }
    }
  }
}
@include media("<large") {
  .FirstSectionleftSide {
    // .image1 {
    //   max-width: 100%;
    //   display: block;
    //   height: 40%;
    // }
    .FirstSection-greenmouse {
      max-width: 100%;
      height: 6%;
    }
  }
  .FirstSectionrightSide {
    .titlesqure {
      width: 46vw;
      height: 5vh;
      span {
        font-size: 30px;
      }
    }
    .explainsqure {
      position: relative;
      width: 37vw;
      height: 39.1vh;
      top: 3.5%;
      left: 8%;
      p {
        font-size: 15px;
        line-height: 35px;
      }
    }
  }
}

@include media("<medium") {
  .FirstSectionleftSide {
    .image1 {
      max-width: 100%;
      display: block;
      height: 30%;
    }
    .FirstSection-greenmouse {
      max-width: 100%;
      height: 5%;
    }
  }

  .FirstSectionrightSide {
    .titlesqure {
      position: relative;
      top: 7%;
      span {
        font-size: 20px;
      }
    }
    .explainsqure {
      position: relative;
      width: 45vw;
      height: 34.1vh;
      top: 10.5%;
      left: 8%;
      p {
        font-size: 12px;
        line-height: 25px;
      }
    }
    .FirstSection-chat {
      display: none;
    }
    .FirstSection-chat-mobileversion-a {
      visibility: visible;
      height: 11%;
      position: absolute;
      z-index: 100;
      cursor: pointer;
      bottom: -2%;
      right: 3%;
      .FirstSection-chat-mobileversion {
        max-width: 100%;
        height: 70%;
      }
    }
  }
}
@include media("<small") {
  .FirstSectionrightSide {
    .FirstSection-chat {
      display: none;
    }
    .titlesqure {
      position: relative;
      top: 10%;
    }
    .explainsqure {
      position: relative;
      width: 48vw;
      height: 34.1vh;
      top: 13.5%;
      left: 1%;
      p {
        font-size: 4px;
        line-height: 20px;
      }
    }
    .FirstSection-chat-mobileversion-a {
      visibility: visible;
      height: 11%;
      position: absolute;
      z-index: 100;
      cursor: pointer;
      bottom: -2%;
      right: 3%;
      .FirstSection-chat-mobileversion {
        max-width: 100%;
        height: 70%;
      }
    }
  }
}
