@import "utils";
.secondSectionrightSide {
  float: right;
  width: 50%;
  background: #fdffe8;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  .image1 {
    max-width: 100%;
    display: block;
    height: auto;
    // width: 90%;
    // height: auto;
  }
  .secondSection-greenmouse {
    bottom: 1%;
    right: 48%;
    position: absolute;
    //z-index: 3000;
  }
}

.secondSectionleftSide {
  float: left;
  width: 50%;
  background: #ffffff;
  height: 100%;
}
.secondSectionleftSide .titlesqure {
  float: left;
  margin-top: 12%;
  width: 46vw;
  height: 12vh;
  background: #eeffcb;
  display: flex;
  justify-content: center;
  align-items: center;
  span {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: bold;
    font-size: 50px;
    color: #48be00;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.25);
  }
}
.secondSectionleftSide .explainsqure {
  position: relative;
  width: 41vw;

  height: 57.5vh;
  top: 3.5%;
  left: 9%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #1bc12c;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.25);
  border-radius: 30px;
  p {
    font-family: Noto Sans KR;
    font-style: normal;
    font-weight: 500;
    //font-size: 28px;
    font-size: 2m;
    line-height: 41px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #ffffff;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
  }
}
.secondSectionleftSide .secondSection-chat {
  bottom: 2%;
  right: 3%;
  position: absolute;
  z-index: 3000;
  cursor: pointer;
}

.secondSectionleftSide .secondSection-chat-mobileversion-a {
  bottom: 2%;
  right: 3%;
  position: absolute;
  z-index: 3000;
  cursor: pointer;
  visibility: hidden;
}

//반응형

@include media("<huge") {
  //font-size: 46px;
  .secondSectionrightSide {
    .image1 {
      display: block;
      //   height: 100%;
      width: 100%;
      height: auto;
    }
    .secondSection-greenmouse {
      max-width: 100%;
      height: 7%;
    }
  }
  .secondSectionleftSide {
    .titlesqure {
      width: 46vw;
      height: 8vh;
      span {
        font-size: 40px;
      }
    }
    .explainsqure {
      position: relative;
      width: 37vw;
      height: 38.1vh;
      top: 3.5%;
      left: 8%;
      //font-size: 46px;
      .ellipse {
        max-width: 70%;
        //display: block;
        // height: 0%;
      }
      p {
        // font-size: 17px;
        // line-height: 41px;
      }
    }
  }
}
@include media("<large") {
  .secondSectionrightSide {
    .image1 {
      max-width: 100%;
      display: block;
      height: 40%;
    }
    .secondSection-greenmouse {
      max-width: 100%;
      height: 6%;
    }
  }
  .secondSectionleftSide {
    .titlesqure {
      width: 46vw;
      height: 5vh;
      span {
        font-size: 30px;
      }
    }
    .explainsqure {
      position: relative;
      width: 37vw;
      height: 39.1vh;
      top: 3.5%;
      left: 8%;
      p {
        // font-size: 15px;
        // line-height: 35px;
      }
    }
  }
}

@include media("<medium") {
  .secondSectionrightSide {
    .image1 {
      max-width: 100%;
      display: block;
      height: 30%;
    }
    .secondSection-greenmouse {
      max-width: 100%;
      height: 5%;
    }
  }

  .secondSectionrleftSide {
    .titlesqure {
      position: relative;
      top: 7%;
      span {
        font-size: 20px;
      }
    }
    .explainsqure {
      position: relative;
      width: 45vw;
      height: 34.1vh;
      top: 10.5%;
      left: 8%;
      p {
        // font-size: 12px;
        // line-height: 25px;
      }
    }
    .secondSection-chat {
      display: none;
    }
    .secondSection-chat-mobileversion-a {
      visibility: visible;
      height: 11%;
      position: absolute;
      z-index: 100;
      cursor: pointer;
      bottom: -2%;
      right: 3%;
      .secondSection-chat-mobileversion {
        max-width: 100%;
        height: 70%;
      }
    }
  }
}
@include media("<small") {
  .secondSectionleftSide {
    // margin-top: 30%;
    .secondSection-chat {
      display: none;
    }
    .titlesqure {
      position: relative;
      top: 30%;
      span {
        font-size: 18px;
      }
    }
    .explainsqure {
      position: relative;
      width: 48vw;
      height: 34.1vh;
      top: 35.5%;
      left: 1%;
      br {
        display: none;
      }
      .ellipse {
        display: none;
      }
      p {
        font-size: 12px;
        line-height: 20px;
      }
    }
    .secondSection-chat-mobileversion-a {
      visibility: visible;
      height: 11%;
      position: absolute;
      z-index: 100;
      cursor: pointer;
      bottom: -2%;
      right: 3%;
      .secondSection-chat-mobileversion {
        max-width: 100%;
        height: 70%;
      }
    }
  }
}
