.fp-section {
  text-align: center;
}
.fp-tableCell {
  display: table-cell;
  vertical-align: bottom;
  width: 100%;
  height: 100%;
}
.slide-flex .chat {
  margin-left: 50%;
}

.test1 {
  object-fit: contain;
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  border-radius: 50%;
  position: absolute;
  z-index: 1;
  height: 4px;
  width: 4px;
  border: 0;
  background: #00b55e;
  left: 50%;
  top: 50%;
  margin: -2px 0 0 -2px;
  -webkit-transition: all 0.1s ease-in-out;
  -moz-transition: all 0.1s ease-in-out;
  -o-transition: all 0.1s ease-in-out;
  transition: all 0.1s ease-in-out;
}

.fp-slidesNav.fp-bottom {
  display: flex;
  top: 1px;
  align-items: center;
  justify-content: center;
}
